.chat-container {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  min-height: 300px;
  position: relative;
  flex: 1;
  overflow-y: auto;
  border: 0px;
}
.chat-content {
  padding: 24px;
  color: #666;
  text-align: center;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 450px;
  flex-direction: column;
  gap: 16px;
}
@media (max-width: 480px) {
  .chat-content {
    padding: 8px;
    font-size: 13px;
    gap: 12px;
    height:300px ;
  }
}
