* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background: #f5f5f5;
  padding: 20px;
  overflow-x: hidden;
}
.main-container {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  min-height: 300px;
  position: relative;
  flex: 1;
  overflow-y: auto;
  border: 0px;
  border-radius: 25px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .main-container {
    border-radius: 15px;
  }

  .chat-content {
    padding: 12px;
    font-size: 14px;
  }

  .chat-input textarea {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .main-container {
    border-radius: 15px;
    margin-top: 50px;
  }}